@{
    var claimsIdentity = User.Identity as System.Security.Claims.ClaimsIdentity;
}
<!--Menú de opciones para los puntos de medición-->
<div id="measurementPointMenuContainer" style="display:none;">
    <ul id="measurementPointMenu">
        <li id="realTimeMenuItem" class="menuItem">
            <a href="#" >Tiempo real</a>
            <ul>
                <li id="waveformMenuItem" class="menuItem"><a href="#">Forma de onda</a></li>
                <li id="spectrumMenuItem" class="menuItem"><a href="#">Espectro de amplitud</a></li>
                <li id="orbitSpectrumMenuItem" class="menuItem"><a href="#">Espectro de &oacute;rbita</a></li>
                <li id="orbitMenuItem" class="menuItem"><a href="#">&Oacute;rbita</a></li>
                <li id="sclMenuItem" class="menuItem"><a href="#">Posici&oacute;n del eje</a></li>
            </ul>
        </li>
        @if (claimsIdentity != null)
        {
            var tmp = claimsIdentity.FindFirst("roles");
            var roles = (tmp != null) ? tmp.Value.Split(',').ToList() : null;
            if (roles != null)
            {
                if (roles.Any(s => s == "Admin" || s == "SAdmin"))
                {
                    <li id="liAdminMP" class="menuItem">
                        <a href="#" >Administrar</a>
                        <ul>
                            @if (roles.Any(s => s == "SAdmin"))
                            {
                                <li id="testDataGraphically"><a href="#">Test</a></li>
                            }
                            <li id="editMeasurementPointMenuItem"><a href="#">Editar punto de medici&oacute;n</a></li>
                            <li id="deleteMeasurementPointMenuItem"><a href="#">Eliminar punto(s) de medici&oacute;n</a></li>
                            <li id="copyMeasurementPointMenuItem"><a href="#">Copiar</a></li>
                        </ul>
                    </li>
                }
            }
        }
    </ul>
</div>
