<div id="dialogDelete" class="hidden">
    <div class="container">
        <div class="row">
            <p id="pQuestion"></p>
            <div class="footerspan" style="float:right">
                <button id="btnDelete">Eliminar</button>
                <button id="btn_Cancel">Cancelar</button>
            </div>
        </div>
    </div>
</div>

