@*@model Amaq.Acloud.Aspectrogram.Models.EnumerationsModel*@
<!--Inicio contenedor principal arbol-->

<div id="mainTreeContainer" style="height: 100%; min-height: 100%; margin: 0px; padding: 0px; /*max-width:20%;*/">
    <div>
        <div>
            <!--Inicio animacion carga del arbol-->
            <div id="treeLoadingIndicator" class="text-center">
                <i class="fa fa-spinner fa-pulse fa-2x"></i>
            </div>
            <!--Fin animacion carga del arbol-->

            <div class="treeViewFilter hidden" style="height:80%;">
                <!--Inicio vista arbol principal-->
                <!-- Inicio buscador para arbol -->
                <div class="inner-addon right-addon">
                    <input type="text" id="searchBox" class="form-control" placeholder="Buscar" />
                    <i class="glyphicon glyphicon-search"></i>
                </div>
                <!-- Fin buscador para arbol -->
                <!-- Elementos de la vista arbol -->
                <div id="treeView"></div>

                <!-- Html del menú contextual de opciones de ubicación -->
                @Html.Partial("../Menus/_LocationMenu")

                <!-- Html del menú contextual de opciones de activo -->
                @Html.Partial("../Menus/_AssetMenu")

                <!-- Html del menú contextual de opciones de puntos de medición -->
                @Html.Partial("../Menus/_MeasurementPointMenu")

                <!--Formulario para copiar o editar un punto de medicion-->
                <div class="container hidden" id="formMdVariable">
                    <div class="row">
                        <div class="col-md-3 form-horizontal">
                            <div class="form-group">
                                <label class="col-md-4" id="lblNombre">Etiqueta:</label>
                                <div class="col-md-offset-1 col-md-7">
                                    <input type="text" id="txtName">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-4">Descripción:</label>
                                <div class="col-md-offset-1 col-md-7">
                                    <input type="text" id="txtDescription">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-4">Sensor:</label>
                                <div class="col-md-offset-1 col-md-7">
                                    <input type="text" id="ddlSensorType">
                                </div>
                            </div>
                            <div class="form-group" id="divUnit">
                                <label class="col-md-4">Unidad:</label>
                                <div class="col-md-offset-1 col-md-7">
                                    <input type="text" id="ddlUnits">
                                    <br />
                                    <input type="text" id="txtUnit">
                                </div>
                            </div>
                            <div class="form-group" id="divSensibility">
                                <label class="col-md-4" id="lblSensibility">Sensibilidad [mV/unidad]:</label>
                                <div class="col-md-offset-1 col-md-7">
                                    <input type="text" id="txtSensibility">
                                </div>
                            </div>
                            <div class="form-group" id="divCheckbox">
                                <label class="col-md-4">Integrar a velocidad [mm/s]:</label>
                                <div class="col-md-offset-1 col-md-7">
                                    <input type="checkbox" id="chbIntegrate" />
                                </div>
                            </div>
                            <div class="form-group" id="divOrientation">
                                <label class="col-md-4">Orientación:</label>
                                <div class="col-md-offset-1 col-md-7">
                                    <input type="text" id="ddlOrientation">
                                </div>
                            </div>
                            <div class="form-group" id="divSensorAngle">
                                <label class="col-md-4">Ángulo [°]:</label>
                                <div class="col-md-offset-1 col-md-7">
                                    <input type="text" id="txtSensorAngle">
                                </div>
                            </div>
                            <div class="form-group" id="divSaveWaveform">
                                <label class="col-md-4">¿Guardar forma de onda?</label>
                                <div class="col-md-offset-1 col-md-7">
                                    <input type="checkbox" id="chbWaveform" />
                                </div>
                            </div>

                            <!--Div de Proximidad, Acelerometro, Velocimetro-->
                            <div class="form-group" id="notRefenceAngularFields">
                                <label class="col-md-4">Referencia Angular:</label>
                                <div class="col-md-offset-1 col-md-7">
                                    <input type="text" id="ddlAngularReference">
                                    @*<i class="fa fa-warning" aria-hidden="true"></i>*@
                                </div>
                            </div>
                            <!--Fin Div Proximidad, Acelerometro, Velocimetro-->
                            <!--Div de Voltaje y Corriente-->
                            <div id="voltageOrCurrentFields" class="hidden">
                                <div class="panel panel-default">
                                    <div class="panel-heading" style="padding-top: 5px !important; padding-bottom: 5px !important;"><b>RANGO DE ENTRADA</b></div>
                                    <div class="panel-body" style="padding-top: 5px !important; padding-bottom: 0px !important;">

                                        <div class="form-group">
                                            <label class="col-md-4" id="lblEntryMax"></label>
                                            <div class="col-md-offset-1 col-md-7">
                                                <input type="text" id="txtEntryMax" />
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-md-4" id="lblEntryMin"></label>
                                            <div class="col-md-offset-1 col-md-7">
                                                <input type="text" id="txtEntryMin" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="panel panel-default">
                                    <div class="panel-heading" style="padding-top: 5px !important; padding-bottom: 5px !important;"><b>RANGO DE VARIABLE</b></div>
                                    <div class="panel-body" style="padding-top: 5px !important; padding-bottom: 0px !important;">

                                        <div class="form-group">
                                            <label class="col-md-4" id="lblVarMax">Xmáx [Unidad]:</label>
                                            <div class="col-md-offset-1 col-md-7">
                                                <input type="text" id="txtVarMax" />
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-md-4" id="lblVarMin">Xmín [Unidad]:</label>
                                            <div class="col-md-offset-1 col-md-7">
                                                <input type="text" id="txtVarMin" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--Fin Div de Voltaje y Corriente-->
                            <!--Div RTD-->
                            <div id="rtdFields" class="hidden">
                                <div class="form-group">
                                    <label class="col-md-4">Material:</label>
                                    <div class="col-md-offset-1 col-md-7">
                                        <input type="text" id="ddlMaterial" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-4">Ro [&Omega;]:</label>
                                    <div class="col-md-offset-1 col-md-7">
                                        <input type="text" id="txtRo" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-4"> Coeficiente [&alpha;]:</label>
                                    <div class="col-md-offset-1 col-md-7">
                                        <input type="text" id="ddlCoefficient" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-4">Iex [mA]:</label>
                                    <div class="col-md-offset-1 col-md-7">
                                        <input type="text" id="txtIex" />
                                    </div>
                                </div>
                            </div>
                            <!--Fin Div RTD-->
                            <!--Div sensor Personalizado-->
                            <div class="panel panel-default hidden" id="sensorCustomFields">
                                <div class="panel-heading" style="padding-top: 5px !important; padding-bottom: 5px !important;"><b>Ajuste lineal</b></div>
                                <div class="panel-body" style="padding-top: 5px !important; padding-bottom: 0px !important;">
                                    <div class="form-group">
                                        <label class="col-md-3">M:</label>
                                        <div class="col-md-offset-2 col-md-7">
                                            <input type="text" id="txtRefAngularM">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-3">B:</label>
                                        <div class="col-md-offset-2 col-md-7">
                                            <input type="text" id="txtRefAngularB">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--Fin Div sensor Personalizado-->
                            <!--Div Referencia Angular-->
                            <div id="refenceAngularFields">
                                <div class="form-group">
                                    <label class="col-md-4">Rotación:</label>
                                    <div class="col-md-offset-1 col-md-7">
                                        <input type="text" id="ddlRotationDirection">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-4">Ruido Mínimo [V]:</label>
                                    <div class="col-md-offset-1 col-md-7">
                                        <input type="text" id="txtMinimumNoiseInVolts">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-4">Umbral:</label>
                                    <div class="col-md-offset-1 col-md-7">
                                        <input type="text" id="txtTresholdPercentage">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-4">Histéresis:</label>
                                    <div class="col-md-offset-1 col-md-7">
                                        <input type="text" id="txtHysteresisTresholdPercentage">
                                    </div>
                                </div>
                            </div>
                            <!--Fin Div Referencia Angular-->
                            <!--Div Position cero-->
                            <div class="hidden" id="divPositionCero">
                                <div class="form-group">
                                    <label class="col-md-4">Posición Cero (V):</label>
                                    <div class="col-md-offset-1 col-md-7">
                                        <input type="text" id="txtPositionCero" />
                                    </div>
                                </div>
                            </div>
                            <!--Fin Div Position cero-->
                            <!--Div flujo magnético-->
                            <div id="magneticFlowFields" class="hidden">
                                <div class="form-group">
                                    <label class="col-md-4">Cantidad de polos:</label>
                                    <div class="col-md-offset-1 col-md-7">
                                        <input type="text" id="txtPolesCount">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-4">Ángulo polo 1 respecto de la muesca de referencia angular:</label>
                                    <div class="col-md-offset-1 col-md-7">
                                        <input type="text" id="txtPole1Angle">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-4">Rango gráfica polar (Teslas):</label>
                                    <div class="col-md-offset-1 col-md-7">
                                        <input type="text" id="txtPolarGraphRange">
                                    </div>
                                </div>
                            </div>
                            <!--Fin Div flujo magnético-->

                            <div class="form-group">
                                <div class="col-md-offset-4 col-md-8">
                                    <button id="btnCreateOrEditMdVariable" class="btn btn-primary"> Guardar</button>
                                    <button id="btnCancelMdVariable" class="btn btn-danger"> Cancelar</button>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-9">
                            <div id="gridSubVariables"></div>
                        </div>
                    </div>
                </div>
                <!--Fin formulario punto de medición-->
                <!--Formulario Bandas-->
                <div class="hidden" id="formBands">
                    <div class="container">
                        @*<div class="row" style="margin-left: -6% !important;">
                                <div class="col-md-4">
                                    <div class="form-group col-md-12">
                                        <label>Banda Muerta (%):</label>
                                        <input type="text" id="txtDeadBand">
                                    </div>
                                    <div class="form-group col-md-12">
                                        <label>Retardo Umbral (seg):</label>
                                        <input type="text" id="txtThresholdLatency">
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="panel panel-default">
                                        <div class="panel-heading" style="padding-top: 5px !important; padding-bottom: 5px !important;"><b>BANDA MÍNIMA</b></div>
                                        <div class="panel-body" style="padding-top: 5px !important; padding-bottom: 0px !important;">
                                            <div class="row">
                                                <div class="form-group col-md-9">
                                                    <label>Umbral:</label>
                                                    <input type="text" id="txtUpperThreshold">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>*@
                        <div class="row">
                            <div id="gridBands"></div>
                        </div>
                        <p></p>
                        <div class="row">
                            <button id="btnSaveBands" class="btn btn-primary"> Aceptar</button>
                            <button id="btnCancelBands" class="btn btn-primary"> Cancelar</button>
                        </div>
                    </div>
                </div>
                <!--Fin formulario Bandas-->
                <!--EjDialog de opciones de Subvariables-->
                <div class="hidden" id="formOptionsSubvar">
                    <div class="container">
                        <div class="row">
                            <div class="form-group col-md-4">
                                <label>Banda Muerta (%):</label>
                                <input type="text" id="txtDeadBand">
                            </div>
                            <div class="form-group col-md-4">
                                <label>Retardo Umbral (seg):</label>
                                <input type="text" id="txtThresholdLatency">
                            </div>
                            <div class="form-group col-md-4">
                                <label>Umbral Banda Mínima:</label>
                                <input type="text" id="txtUpperThreshold">
                            </div>
                        </div>
                        <div class="form-inline">
                            <div class="form-group">
                                <button id="btnSaveOptions" class="btn btn-primary"> Aceptar</button>
                                <button id="btnCancelOptions" class="btn btn-primary"> Cancelar</button>
                            </div>
                        </div>
                    </div>
                </div>
                <!--Fin EjDialog de opciones de Subvariables-->
                <!--Formulario Asset-->
                <div id="formAsset" class="hidden">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-12">

                                <div class="panel panel-default">
                                    <div class="panel-body row">
                                        <div class="form-group col-md-12">
                                            <label class="col-md-4" id="lblNameAsset">Etiqueta:</label>
                                            <div class="col-md-offset-1 col-md-7">
                                                <input type="text" id="txtNameAsset">
                                            </div>
                                        </div>
                                        <br />
                                        <div class="form-group col-md-12">
                                            <label class="col-md-4">Descripción:</label>
                                            <div class="col-md-offset-1 col-md-7">
                                                <input type="text" id="txtDescriptionAsset">
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="panel panel-default" id="tmAndtst">
                                    <div class="panel-body row">
                                        <div class="form-group col-md-12">
                                            <label class="col-md-4">TripMultiply:</label>
                                            <div class="col-md-offset-1 col-md-7">
                                                <input type="text" id="ddlTripMultiply">
                                            </div>
                                        </div>
                                        <br />
                                        <div class="form-group col-md-12">
                                            <label class="col-md-4">Timeout estado transitorio (seg):</label>
                                            <div class="col-md-offset-1 col-md-7">
                                                <input type="text" id="txtTransientStatusTimeout">
                                            </div>
                                        </div>
                                        <br />
                                        <div class="form-group col-md-12" id="divNormalInterval">
                                            <label class="col-md-4">Almacenar datos históricos de los puntos de medición cada (min):</label>
                                            <div class="col-md-offset-1 col-md-7">
                                                <input type="text" id="txtNormalInterval">
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="col-md-offset-4 col-md-8">
                                        <button id="btnCloneOrEditAsset" class="btn btn-primary"> Guardar</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--Fin formulario Asset-->
                <!--Formulario de configuración Pares XY-->
                <div id="formPairsXY" class="hidden">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label>Puntos en X:</label>
                                    <ul id="lbPointsX"></ul>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label>Puntos en Y:</label>
                                    <ul id="lbPointsY"></ul>
                                </div>
                            </div>
                            <div class="col-md-2" style="margin-top:18%; padding-left: 7%;">
                                <button id="btnAddPairXY"><span class="glyphicon glyphicon-chevron-right"></span></button>
                                <p></p>
                                <button id="btnDeletePairXY"><span class="glyphicon glyphicon-chevron-left"></span></button>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>Pares XY:</label>
                                    <ul id="lbPointsXY"></ul>
                                </div>
                            </div>
                        </div>
                        <p></p>
                        <div class="row" style="margin-left:0px">
                            <button id="btnSavePairsXY" class="btn btn-primary"> Guardar</button>
                            <button id="btnCancelPairsXY" class="btn btn-primary"> Cancelar</button>
                        </div>
                    </div>
                </div>
                <!--Fin formulario de configuración Pares XY-->
                <!--Formulario Location-->
                <div id="formLocation" class="hidden">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-horizontal">
                                    <div class="form-group">
                                        <label class="col-md-4" id="lblNameLocation">Etiqueta:</label>
                                        <div class="col-md-offset-1 col-md-7">
                                            <input type="text" id="txtNameLocation">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-4">Descripción:</label>
                                        <div class="col-md-offset-1 col-md-7">
                                            <input type="text" id="txtDescriptionLocation">
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <div class="col-md-offset-4 col-md-8">
                                            <button id="btnCreateOrEditLocation" class="btn btn-primary"> Guardar</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--Fin formulario Location-->
                <!--Formulario Event Velocity-->
                <div id="formEventVelocity" class="hidden">
                    <div class="container">
                        <div class="row">
                            <div class="form-group col-md-4">
                                <label>Referencia Angular:</label>
                                <input type="text" id="ddlAngularReferenceInAssetPpl">
                            </div>
                            <div class="form-group col-md-4">
                                <label>Habilitado:</label>
                                <input type="checkbox" id="chbEnabled" />
                            </div>
                        </div>

                        <div class="row">
                            <div class="form-group col-md-4">
                                <label>Delta RPM:</label>
                                <input type="text" id="txtDeltaRpm">
                            </div>
                            <div class="form-group col-md-4">
                                <label>RPM inferior:</label>
                                <input type="text" id="txtLowRpm">
                            </div>
                            <div class="form-group col-md-4">
                                <label>RPM superior:</label>
                                <input type="text" id="txtUpperRpm">
                            </div>
                        </div>

                        <div class="row">
                            <div class="form-group col-md-4">
                                <label>Tiempo antes (min):</label>
                                <input type="text" id="txtMinutesBefore">
                            </div>
                            <div class="form-group col-md-4">
                                <label>Tiempo despues (min):</label>
                                <input type="text" id="txtMinutesAfter">
                            </div>
                        </div>

                        <div class="row col-md-12">
                            <button id="btnSaveEventVelocity" class="btn btn-primary"> Guardar</button>
                            <button id="btnCancelEventVelocity" class="btn btn-primary"> Cancelar</button>
                        </div>
                    </div>
                </div>
                <!--Fin formulario Event Velocity-->
                <!--Formulario Event Condition Status-->
                <div id="formEventConditionStatus" class="hidden">
                    <div class="container">
                        <div class="row">
                            <div id="gridConditionStatus"> </div>
                        </div>
                        <p></p>
                        <div class="row">
                            <div id="gridNotifyList"> </div>
                        </div>
                        <p></p>
                        <div class="row">
                            <button id="btnSaveECS" class="btn btn-primary"> Guardar</button>
                            <button id="btnCancelECS" class="btn btn-primary"> Cancelar</button>
                        </div>
                    </div>
                </div>
                <!--Fin formulario Event Condition Status-->
                <!-- Configuración Plantilla de Correo-->
                <div id="configurationTemplateMail" class="hidden">
                    <div class="container">
                        <div class="row">
                            <button id="btnPathAsset" class="btn btn-primary">{RutaActivo}</button>
                            <button id="btnStatuCondition" class="btn btn-primary">{EstadoCondicion}</button>
                            <button id="btnTimeStamp" class="btn btn-primary">{EstampaTiempo}</button>
                        </div>
                        <br />
                        <div class="row">
                            <div class="col-md-12">
                                <label>Asunto:</label>
                                <input type="text" id="txtSubject" class="form-control">
                            </div>
                            <div class="col-md-12">
                                <label>Mensaje:</label>
                                <textarea id="txtMessage" rows="5" class="form-control"></textarea>
                            </div>
                        </div>
                        <br />
                        <div class="row">
                            <button id="btnOkTemplateMail" class="btn btn-primary"><i class="fa fa-check" aria-hidden="true"></i> Aceptar</button>
                            <button id="btnCancelTemplateMail" class="btn btn-primary"><i class="fa fa-times" aria-hidden="true"></i> Cancelar</button>
                        </div>
                    </div>
                </div>
                <!-- Fin Configuración Plantilla de Correo-->
                <!-- Formulario Vista resumen de puntos de medición y activos-->
                <div id="formSummariesView" class="hidden">
                    <div class="container-fluid cf">
                        <div class="row" id="divAssets"></div>
                        <div class="row" id="divPoints"></div>
                        <br />
                        <button id="btnSaveSummaryView" class="btn btn-primary"> Aceptar</button>
                        <button id="btnCancelSummaryView" class="btn btn-danger"> Cancelar</button>
                        <p></p>
                        @*<center><label id="lblMessage" class="hidden text-center">Cargando...</label></center>*@
                    </div>
                </div>
                <!-- Fin formulario vista resumen de puntos de medición y activos-->
                <!--Dialog para configurar otra unidad en la vista resumen-->
                <div id="ejdOtherUnit" class="hidden">
                    <div class="container-fluid cf">
                        <div class="row">
                            <input type="text" id="txtOtherUnit" />
                        </div>
                        <br />
                        <div class="row">
                            <button id="ejbAccept"> Aceptar</button>
                            <button id="ejbCancel"> Cancelar</button>
                        </div>
                    </div>
                </div>
                <!--Fin dialog-->
                <!-- Listado de rodamientos-->
                <div id="dialogBearings" class="hidden">
                    <div class="container-fluid cf">
                        <div class="row" id="gridBearings"></div>
                        <br />
                    </div>
                </div>
                <!-- Fin listado de rodamientos-->
                <!--Dialogo de preferencias de usuarios-->
                <div id="dialogUserPreferences" class="hidden">
                    <div class="sidebar">
                        @*<ul class="nav nav-pills nav-stacked" id="listPreferences">*@
                        <ul class="nav nav-sidebar" id="listPreferences">
                            <li role="presentation" class="liActive typePreference" id="profile"><a href="#">Perfil</a></li>
                            <li role="presentation" id="workSpace" class="typePreference"><a href="#">Espacio de trabajo</a></li>
                            <li role="presentation" id="units" class="typePreference"><a href="#">Unidades</a></li>
                            <li role="presentation" id="graphs" class="typePreference"><a href="#">Gráficas de análisis</a></li>
                        </ul>
                        <div id="divBtnPreferences">
                            <button type="button" class="btn btn-primary" id="btnSavePreferences">Guardar</button>
                        </div>
                    </div>
                    <div class="container-fluid cf">
                        <div class="row">
                            <div class="col-md-10 col-md-offset-2" id="framePreferences">
                                <div id="infoProfile" class="row">
                                    <div class="col-md-5 pad">
                                        <img src="~/Content/images/pictureUser.png" alt="Usuario" class="img-rounded img-responsive">
                                    </div>
                                    <div class="col-md-7 pad">
                                        <h4><span class="lbl-primary">Información del Usuario:</span></h4>
                                        <br />
                                        <table class="table table-responsive">
                                            <tr>
                                                <td>Nombre:</td>
                                                <td><input type="text" id="txt_userName" data-propertyName="FullName"/></td>
                                            </tr>
                                            <tr>
                                                <td>Correo (Usuario):</td>
                                                <td><input type="text" id="txt_userEmail" data-propertyName="UserName"/></td>
                                            </tr>
                                            <tr>
                                                <td>Clave:</td>
                                                <td><input type="text" id="txt_userPass" data-propertyName="PasswordHash"/></td>
                                            </tr>
                                            <tr style="height: 60px !important;"> </tr>
                                            <tr>
                                                <td>Compañía:</td>
                                                <td><input type="text" id="txtCompany" data-propertyName="Company"/></td>
                                            </tr>
                                            <tr>
                                                <td>Cargo:</td>
                                                <td><input type="text" id="txt_userOccupation" data-propertyName="Occupation"/></td>
                                            </tr>
                                            <tr>
                                                <td>Teléfono:</td>
                                                <td><input type="text" id="txt_userPhoneNumbre" data-propertyName="PhoneNumber"/></td>
                                            </tr>
                                            <tr>
                                                <td>Celular:</td>
                                                <td><input type="text" id="txt_userCellPhone" data-propertyName="CellPhoneNumber"/></td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>

                                <div id="infoUnits" class="hidden row">
                                    <div class="col-md-12 pad">
                                        <h4><span class="lbl-primary">Unidades de medida:</span></h4>
                                        <br />
                                        <table class="table table-responsive">
                                            <tr>
                                                <td>Sistema de medidas:</td>
                                                <td><input type="text" id="txtUMeasure" data-propertyName="MeasuresSystem"/></td>
                                            </tr>
                                            <tr>
                                                <td>Velocidad de giro:</td>
                                                <td><input type="text" id="txtUTurningVelocity" data-propertyName="TurningVelocity"/></td>
                                            </tr>
                                            <tr>
                                                <td>Frecuencia:</td>
                                                <td><input type="text" id="txtUFrequency" data-propertyName="Frequency" /></td>
                                            </tr>
                                            <tr>
                                                <td>Desplazamiento:</td>
                                                <td><input type="text" id="txtUDisplacement" data-propertyName="Displacement"/></td>
                                            </tr>
                                            <tr>
                                                <td>Velocidad:</td>
                                                <td><input type="text" id="txtUVelocity" data-propertyName="Velocity"/></td>
                                            </tr>
                                            <tr>
                                                <td>Aceleración:</td>
                                                <td><input type="text" id="txtUAcceleration" data-propertyName="Acceleration"/></td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>

                                <div id="infoWorkSpace" class="hidden row">
                                    <div class="col-md-12 pad">
                                        <h4><span class="lbl-primary">Cuadrícula de gráficos de análisis:</span></h4>
                                        <br />
                                        <div class="col-md-4">
                                            <img src="~/Content/images/oneColumn.png" data-img="1" alt="1 Columna" class="img-rounded img-responsive">
                                            <br />
                                            <center>1 Columna</center> 
                                        </div>
                                        <div class="col-md-4">
                                            <img src="~/Content/images/twoColumns.png" data-img="2" alt="2 Columna" class="img-rounded img-responsive">
                                            <br />
                                            <center>2 Columnas</center> 
                                        </div>
                                        <div class="col-md-4">
                                            <img src="~/Content/images/threeColumns.png" data-img="3" alt="3 Columnas" class="img-rounded img-responsive">
                                            <br />
                                            <center>3 Columnas</center>
                                        </div>
                                    </div>
                                </div>

                                <div id="infoGraphs" class="hidden row">
                                    <div class="col-md-12 pad">
                                        <h4><span class="lbl-primary">Espectros:</span></h4>
                                        <br />
                                        <table class="table table-responsive">
                                            <tr>
                                                <td style="border-bottom: none !important;"></td>
                                                <td>Escala en X</td>
                                                <td style="border-bottom: none !important;"></td>
                                            </tr>
                                            <tr>
                                                <td>Desplazamiento:</td>
                                                <td><input type="text" id="txtGDisplacementX" data-propertyName="Graphs.Displacement"/></td>
                                                <td class="hidden" id="DisX"><input type="text" id="txtOtherDisplacementX" data-xScaleValue="Graphs.Displacement"/></td>
                                            </tr>
                                            <tr>
                                                <td>Velocidad</td>
                                                <td><input type="text" id="txtGVelocityX" data-propertyName="Graphs.Velocity"/></td>
                                                <td class="hidden" id="VelX"><input type="text" id="txtOtherVelocityX" data-xScaleValue="Graphs.Velocity"/></td>
                                            </tr>
                                            <tr>
                                                <td>Aceleración</td>
                                                <td><input type="text" id="txtGAccelerationX" data-propertyName="Graphs.Acceleration"/></td>
                                                <td class="hidden" id="AccX"><input type="text" id="txtOtherAccelerationX" data-xScaleValue="Graphs.Acceleration"/></td>
                                            </tr>
                                            <tr>
                                                <td>Ventaneo:</td>
                                                <td><input type="text" id="txtGWindowing" data-propertyName="Windowing"/></td>
                                                <td class="hidden">&nbsp;</td>
                                            </tr>
                                            <tr>
                                                <td>Cursos por defecto:</td>
                                                <td><input type="text" id="txtGCursorDefualt" data-propertyName="CursorDefualt"/></td>
                                                <td class="hidden">&nbsp;</td>
                                            </tr>
                                            <tr>
                                                <td>Nro. armónicos cursor:</td>
                                                <td><input type="text" id="txtGNumberHarmonic" data-propertyName="NumberHarmonic"/></td>
                                                <td class="hidden">&nbsp;</td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--Fin dialogo de preferencias de usuarios-->

                @Html.Partial("../Modals/_ConfirmDialog")

                <!-- Inicio Animacion carga filtros para arbol -->
                <div id="treeFilterLoadingIndicator" class="text-center" style="padding-top: 15px; display: none;">
                    <i class="fa fa-spinner fa-pulse fa-2x"></i>
                </div>
                <!-- Fin Animacion carga filtros para arbol -->

            </div><!--Fin vista arbol principal-->
        </div>
    </div>

    <div>
        <div>
            <div>
                <!--Inicio animacion carga de los puntos de medicion-->
                <div id="listboxLoadingIndicator" class="text-center hidden">
                    <i class="fa fa-spinner fa-pulse fa-2x"></i>
                </div>
                <!--Fin animacion carga del arbol-->
                <div id="orderbyPoints" style="float:right" class="hidden">
                    <button id="btnCancelOrderPoints" title="Cancelar" class="hidden"><i class="fa fa-times" aria-hidden="true"></i></button>
                    <button id="btnToOrderPoints" title="Ordenar puntos de medición"><i class="fa fa-list-ol" aria-hidden="true"></i></button>
                </div>
                <div id="measurementPoints"></div>
            </div>
        </div>
    </div>

    <div>
        <div id="jcEventPlayerParent" style="padding:1%;"></div>
    </div>

</div><!--Fin contenedor principal arbol-->
