<?xml version="1.0"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <appSettings xdt:Transform="Replace">
    <add key="MongoUrlBase" value="QMCx8nkF7n49sFWwZOX5LLqNODI7V7BdW1WhbJhpAWFH0P5vkPG0UkBr8rdFmD47klKvYiPegWO/4H17msnlyvo50X8DJxe3ka6/FhYA7+0ziimV+75wmcjkmsvSPGHh"/>
    <add key="ServiceUrlBase" value="https://localhost:44325/"/>
    <add key="UrlLocalApi" value="http://localhost:58086/"/>
    <add key="ModuleId" value="57504f449da5852190ecd4cd"/>
    <add key="webpages:Version" value="3.0.0.0"/>
    <add key="webpages:Enabled" value="false"/>
    <add key="CertificateValidationEnabled" value="false"/>
    <add key="ClientValidationEnabled" value="true"/>
    <add key="UnobtrusiveJavaScriptEnabled" value="true"/>
    <add key="aspnet:MaxJsonDeserializerMembers" value="2147483644"/>
  </appSettings>
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
  </system.web>
</configuration>
